[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-tabular"]
	path = vim/bundle/vim-tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-numbers"]
	path = vim/bundle/vim-numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-asciidoc"]
	path = vim/bundle/vim-asciidoc
	url = https://github.com/asciidoc/vim-asciidoc.git
[submodule "vim/bundle/vim-languagetool"]
	path = vim/bundle/vim-languagetool
	url = https://github.com/vim-scripts/LanguageTool.git
[submodule "vim/bundle/confluencewiki"]
	path = vim/bundle/confluencewiki
	url = https://github.com/vim-scripts/confluencewiki.vim.git
