[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-brew"]
	path = dotbot-plugins/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "linuxify"]
	path = linuxify
	url = https://github.com/darksonic37/linuxify.git
[submodule "dotbot-asdf"]
	path = dotbot-plugins/dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
